.card {
  background-color: rgb(13, 45, 51);
  border: 8px solid rgba(175, 250, 244, 0.712);
  padding: 20px 50px 30px;
  color: white;
  position: relative;
  width: 1200px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 60px;
}
